*{
	margin:0;
	padding:0;
	background: none;
	border: none;
	font-family:arial, tahoma, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	min-width:736px;
}

body #header{
    background-image: url("../img/bg_headermenu.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 195px;
}

body #header h1 a{
    float: left;
    height: 110px;
    text-indent: -9999px;
    width: 219px;
	margin-left:5px;
	margin-top:40px;
}

body #header .logo {
    float: left;
    height: 110px;
    margin-left: 140px;
    margin-top: 36px;
    width: 450px;
}

body #content{
    background-color: #F4F4F4;
    font-size: 18px;
    height: 350px;
    margin-top: -20px;
    width: 100%;
}

body #content h1{
	float: left;
    width: 750px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:150px;
}

body #content p{
	font-family: "Arial";
	font-size:14px;
	width:750px;
	margin-left:150px;
	margin-top:20px;
}

body #footnote{
    background-image: url("../img/graybar.png");
    height: 40px;
    margin: 0 auto;
    width: 100%;
}
	
hr {
	display:none;
}

div.clear {
	clear:both;
}


